workflows/nefalix-04-sentinel-reputation.json
{
  "name": "Nefalix - Sentinel İtibar Koruma",
  "nodes": [
    {
      "parameters": {
        "content": "## Add-on: Sentinel — Sosyal Dinleme\n\n**Akış:** Web/Şikayetvar mention → AI duygu analizi → kritik ise WhatsApp/Slack alarm / nötr-pozitif haftalık rapor\n\n**Credential:** OpenAI, Slack, WhatsApp",
        "height": 150,
        "width": 380,
        "color": 3
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 80]
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 4 }] }
      },
      "name": "Her 4 Saatte Tara",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nefalix/sentinel/mention",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Mention Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 480],
      "webhookId": "nefalix-sentinel-mention"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "source", "value": "={{ $json.body?.source ?? $json.source ?? 'web' }}", "type": "string" },
            { "id": "2", "name": "brandName", "value": "={{ $json.body?.brandName ?? $json.brandName ?? 'MediDent' }}", "type": "string" },
            { "id": "3", "name": "content", "value": "={{ $json.body?.content ?? $json.content ?? $json.text }}", "type": "string" },
            { "id": "4", "name": "url", "value": "={{ $json.body?.url ?? $json.url ?? '' }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "name": "Mention Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 380]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=İtibar analizi yap.\n\nMarka: {{ $json.brandName }}\nKaynak: {{ $json.source }}\nİçerik: {{ $json.content }}\nURL: {{ $json.url }}\n\nJSON: sentiment (positive/neutral/negative/critical), riskScore (1-10), summary (1 cümle), recommendedAction (none/monitor/alert_urgent)",
        "hasOutputParser": true,
        "options": { "maxIterations": 2, "enableStreaming": false }
      },
      "name": "AI Duygu Analizi",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [700, 380]
    },
    {
      "parameters": {
        "model": { "__rl": true, "mode": "list", "value": "gpt-4o-mini" },
        "options": {}
      },
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [700, 580]
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"sentiment\": \"negative\",\n  \"riskScore\": 8,\n  \"summary\": \"Şikayetvar'da bekleme süresi şikayeti\",\n  \"recommendedAction\": \"alert_urgent\"\n}"
      },
      "name": "Structured Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [860, 580]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.output.recommendedAction }}",
              "rightValue": "alert_urgent",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Kritik mi?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [920, 380]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "alertLog",
              "value": "=🚨 KRİTİK İTİBAR (Slack bağlanınca): {{ $json.output.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Kritik Alarm Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "archiveNote",
              "value": "=Haftalık rapora eklendi: {{ $json.output.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Haftalık Rapora Ekle",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 480]
    }
  ],
  "connections": {
    "Her 4 Saatte Tara": { "main": [[{ "node": "Mention Normalize", "type": "main", "index": 0 }]] },
    "Mention Webhook": { "main": [[{ "node": "Mention Normalize", "type": "main", "index": 0 }]] },
    "Mention Normalize": { "main": [[{ "node": "AI Duygu Analizi", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Duygu Analizi", "type": "ai_languageModel", "index": 0 }]] },
    "Structured Output": { "ai_outputParser": [[{ "node": "AI Duygu Analizi", "type": "ai_outputParser", "index": 0 }]] },
    "AI Duygu Analizi": { "main": [[{ "node": "Kritik mi?", "type": "main", "index": 0 }]] },
    "Kritik mi?": {
      "main": [
        [{ "node": "Kritik Alarm Log", "type": "main", "index": 0 }],
        [{ "node": "Haftalık Rapora Ekle", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1", "availableInMCP": true }
}
