workflows/nefalix-telegram-chatbot.json
{
  "name": "Nefalix AI - Telegram Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [240, 300]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "name": "Telegram Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [520, 520]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Sen Nefalix AI diş kliniği asistanısın. Görevin hastalara operasyonel bilgi vermek ve randevu sürecine yardımcı olmaktır. Asla tıbbi teşhis koyma. KVKK uyumlu, TR/EN/AR yanıt ver.",
          "enableStreaming": false,
          "maxIterations": 5
        }
      },
      "name": "Nefalix Clinic Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [520, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        }
      },
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [520, 680]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $(\"Telegram Trigger\").item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Nefalix Clinic Agent", "type": "main", "index": 0 }]]
    },
    "Nefalix Clinic Agent": {
      "main": [[{ "node": "Send Telegram Reply", "type": "main", "index": 0 }]]
    },
    "Telegram Memory": {
      "ai_memory": [[{ "node": "Nefalix Clinic Agent", "type": "ai_memory", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Nefalix Clinic Agent", "type": "ai_languageModel", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
