workflows/nefalix-06-inbox-routing.json
{
  "name": "Nefalix - Inbox Mesaj Yönlendirme",
  "nodes": [
    {
      "parameters": {
        "content": "## Modül 2: Inbox — Team Inbox\n\n**Akış:** WhatsApp/Web Chat mesajı → AI taslak yanıt → Slack bildirim → onay sonrası gönder\n\n*Web Chat ayrı workflow'da (Nefalix AI - Web Chatbot)*",
        "height": 140,
        "width": 380,
        "color": 7
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 80]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nefalix/inbox/incoming",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Gelen Mesaj Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "nefalix-inbox-incoming"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "channel", "value": "={{ $json.body?.channel ?? $json.channel ?? 'whatsapp' }}", "type": "string" },
            { "id": "2", "name": "patientName", "value": "={{ $json.body?.patientName ?? $json.patientName ?? 'Hasta' }}", "type": "string" },
            { "id": "3", "name": "message", "value": "={{ $json.body?.message ?? $json.message ?? $json.text }}", "type": "string" },
            { "id": "4", "name": "phone", "value": "={{ $json.body?.phone ?? $json.phone }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "name": "Mesaj Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Klinik temsilcisi için taslak yanıt yaz.\n\nKanal: {{ $json.channel }}\nHasta: {{ $json.patientName }}\nMesaj: {{ $json.message }}\n\nKVKK uyumlu, teşhis yok, randevu için telefon iste. Max 3 cümle.",
        "options": { "maxIterations": 3, "enableStreaming": false }
      },
      "name": "AI Taslak Yanıt",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": { "__rl": true, "mode": "list", "value": "gpt-4o-mini" },
        "options": {}
      },
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [680, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "inboxPreview",
              "value": "=💬 Inbox taslak (Slack bağlanınca): {{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Inbox Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Gelen Mesaj Webhook": { "main": [[{ "node": "Mesaj Normalize", "type": "main", "index": 0 }]] },
    "Mesaj Normalize": { "main": [[{ "node": "AI Taslak Yanıt", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Taslak Yanıt", "type": "ai_languageModel", "index": 0 }]] },
    "AI Taslak Yanıt": { "main": [[{ "node": "Inbox Log", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "availableInMCP": true }
}
