workflows/nefalix-04-sentinel-reputation.json
{
  "name": "Nefalix - Sentinel İtibar Koruma",
  "nodes": [
    {
      "parameters": {
        "content": "## Sentinel — İtibar analizi\n\nWebhook: `POST /webhook/nefalix/sentinel/mention`\nGoogle düşük puan (wf-09) ve Şikayetvar (wf-14) otomatik gelir.\n\nWhatsApp yalnızca `alert_urgent` (kritik) → gateway rate limit.",
        "height": 150,
        "width": 380,
        "color": 3
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "name": "Her 4 Saatte Tara",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nefalix/sentinel/mention",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Mention Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        480
      ],
      "webhookId": "nefalix-sentinel-mention"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "source",
              "value": "={{ $json.body?.source ?? $json.body?.platform ?? $json.source ?? 'web' }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "clinic_id",
              "value": "={{ $json.body?.clinic_id ?? $json.clinic_id ?? '51738ea8-c12e-40ce-a0e2-42869496d76b' }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "external_id",
              "value": "={{ $json.body?.external_id ?? $json.external_id ?? '' }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "brandName",
              "value": "={{ $json.body?.brandName ?? $json.brandName ?? 'MediDent' }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "content",
              "value": "={{ $json.body?.content ?? $json.body?.text ?? $json.content ?? $json.text ?? '' }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "url",
              "value": "={{ $json.body?.url ?? $json.url ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Mention Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        380
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sen Nefalix itibar analisti AI'sın. Klinik/otel/oto servis markası için internetteki mention'ı analiz et.\n\nMarka: {{ $json.brandName }}\nKaynak: {{ $json.source }}\nİçerik: {{ $json.content }}\nURL: {{ $json.url }}\n\nYönetici WhatsApp'ta okuyacak — özet net ve aksiyon odaklı olsun.\n\nJSON döndür:\n- sentiment: positive | neutral | negative | critical\n- riskScore: 1-10 (10 = acil müdahale)\n- summary: Türkçe 2-3 cümle — ne söylenmiş, firma için ne anlama geliyor\n- recommendedAction: none | monitor | alert_urgent\n- managerBrief: Türkçe kısa paragraf — yöneticiye \"şunları incelemen lazım, şu sonuçlar çıktı\" tonunda\n\nalert_urgent: şikayet, ifşa riski, viral olumsuzluk, yalan haber, riskScore>=7",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 2,
          "enableStreaming": false
        }
      },
      "name": "AI Duygu Analizi",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        700,
        380
      ]
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GCP_PROJECT_ID }}"
        },
        "modelName": "={{ $env.VERTEX_GEMINI_MODEL || 'gemini-2.5-flash' }}",
        "options": {
          "temperature": 0.4,
          "maxOutputTokens": 2048
        }
      },
      "name": "Gemini Vertex Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        700,
        580
      ]
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"sentiment\": \"negative\",\n  \"riskScore\": 8,\n  \"summary\": \"Şikayetvar'da bekleme süresi şikayeti\",\n  \"recommendedAction\": \"alert_urgent\",\n  \"managerBrief\": \"Firmanızla ilgili olumsuz bir paylaşım tespit edildi. Bekleme süresi eleştirisi var; hasta memnuniyetsizliği riski yüksek. İncelemenizi öneririm.\"\n}"
      },
      "name": "Structured Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        860,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.output.recommendedAction }}",
              "rightValue": "alert_urgent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Kritik mi?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        920,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "alertLog",
              "value": "=🚨 KRİTİK İTİBAR (Slack bağlanınca): {{ $json.output.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Kritik Alarm Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "archiveNote",
              "value": "=Haftalık rapora eklendi: {{ $json.output.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Haftalık Rapora Ekle",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        480
      ]
    },
    {
      "parameters": {
        "useCustomSchema": false,
        "resource": "row",
        "operation": "create",
        "tableId": "reputation_mentions",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "clinic_id",
              "fieldValue": "={{ $('Mention Normalize').item.json.clinic_id }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $('Mention Normalize').item.json.source }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('Mention Normalize').item.json.url }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Mention Normalize').item.json.content }}"
            },
            {
              "fieldId": "sentiment",
              "fieldValue": "={{ $('AI Duygu Analizi').item.json.output.sentiment }}"
            },
            {
              "fieldId": "risk_score",
              "fieldValue": "={{ $('AI Duygu Analizi').item.json.output.riskScore }}"
            },
            {
              "fieldId": "recommended_action",
              "fieldValue": "={{ $('AI Duygu Analizi').item.json.output.recommendedAction }}"
            },
            {
              "fieldId": "is_critical",
              "fieldValue": "={{ $('AI Duygu Analizi').item.json.output.recommendedAction === 'alert_urgent' }}"
            },
            {
              "fieldId": "external_id",
              "fieldValue": "={{ $('Mention Normalize').item.json.external_id || null }}"
            }
          ]
        }
      },
      "name": "Supabase Mention Kaydet",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1320,
        380
      ],
      "credentials": {
        "supabaseApi": {
          "id": "UYVzTr3Rfadp18iR",
          "name": "Nefalix Supabase Local"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "managerAlertText",
              "value": "=📊 *Nefalix Sentinel* — İtibar analizi\n\nFirma: {{ $('Mention Normalize').item.json.brandName }}\nKaynak: {{ $('Mention Normalize').item.json.source }}\nDuygu: {{ $json.output.sentiment }} | Risk: {{ $json.output.riskScore }}/10\n\n{{ $json.output.managerBrief || $json.output.summary }}\n\nÖneri: {{ $json.output.recommendedAction }}\n{{ $('Mention Normalize').item.json.url ? '🔗 ' + $('Mention Normalize').item.json.url : '' }}\n\nİncelemeniz önerilir → nefalixai.com/dashboard",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Yönetici Özet Mesajı",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.WEBHOOK_URL || $env.N8N_WEBHOOK_URL || 'http://127.0.0.1:5678/').replace(/\\/$/, '') + '/webhook/nefalix/whatsapp/send' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({  number: String($env.CLINIC_MANAGER_WHATSAPP || '905491190819').replace(/\\D/g, ''), text: $json.managerAlertText || '', source: 'sentinel-alert', priority: 'critical' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "name": "WA Gateway Yöneticiye Bildir",
      "position": [
        1140,
        520
      ]
    }
  ],
  "connections": {
    "Mention Webhook": {
      "main": [
        [
          {
            "node": "Mention Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mention Normalize": {
      "main": [
        [
          {
            "node": "AI Duygu Analizi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "AI Duygu Analizi",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Duygu Analizi": {
      "main": [
        [
          {
            "node": "Kritik mi?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kritik mi?": {
      "main": [
        [
          {
            "node": "Yönetici Özet Mesajı",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Haftalık Rapora Ekle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yönetici Özet Mesajı": {
      "main": [
        [
          {
            "node": "WA Gateway Yöneticiye Bildir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Gateway Yöneticiye Bildir": {
      "main": [
        [
          {
            "node": "Kritik Alarm Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kritik Alarm Log": {
      "main": [
        [
          {
            "node": "Supabase Mention Kaydet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haftalık Rapora Ekle": {
      "main": [
        [
          {
            "node": "Supabase Mention Kaydet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Vertex Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Duygu Analizi",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
