workflows/nefalix-01-feedback-reviews-loop.json
{
  "name": "Nefalix - Feedback & Reviews Loop",
  "nodes": [
    {
      "parameters": {
        "content": "## NPS Yanıt (aktif)\n\nEstesoft taslak → yönetici onay → anket.\n8–10: Google Maps + 5 yıldız/yorum iste.\n7 ve altı: kısa hasta mesajı → yönetici WhatsApp + panel alarm.",
        "height": 220,
        "width": 420,
        "color": 4
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        80
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nefalix/hbys/appointment-completed",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "HBYS Randevu Bitti",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        320
      ],
      "webhookId": "nefalix-hbys-appointment",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "patientName",
              "value": "={{ $json.body?.patientName ?? $json.patientName }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "patientPhone",
              "value": "={{ $json.body?.patientPhone ?? $json.patientPhone }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "clinicName",
              "value": "={{ $json.body?.clinicName ?? $json.clinicName ?? 'Klinik' }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "doctorName",
              "value": "={{ $json.body?.doctorName ?? $json.doctorName ?? '' }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "treatment",
              "value": "={{ $json.body?.treatment ?? $json.treatment ?? '' }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "googleReviewUrl",
              "value": "={{ $json.body?.googleReviewUrl ?? $json.googleReviewUrl }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "complaintFormUrl",
              "value": "={{ $json.body?.complaintFormUrl ?? $json.complaintFormUrl }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "appointmentId",
              "value": "={{ $json.body?.appointmentId ?? $json.appointmentId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Normalize HBYS",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Randevu/tedavi tamamlandı. Hastaya WhatsApp ile NPS anketi gönderilecek.\n\nHasta: {{ $json.patientName }}\nKlinik: {{ $json.clinicName }}\nDoktor: {{ $json.doctorName }}\nTedavi: {{ $json.treatment }}\n\nMesaj şunları içersin:\n1) Teşekkür ve kısa samimi giriş\n2) \"Deneyiminizi 1-10 arası puanlar mısınız?\" sorusu (tek net soru)\n3) Puanı bu sohbette yazabileceğini belirt\n\nKVKK uyumlu, Türkçe, max 4 cümle. Sadece mesaj metnini döndür.",
        "options": {
          "maxIterations": 3,
          "enableStreaming": false
        }
      },
      "name": "AI NPS Mesajı",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        680,
        320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.GCP_PROJECT_ID }}"
        },
        "modelName": "gemini-1.5-flash",
        "options": {
          "temperature": 0.4,
          "maxOutputTokens": 2048
        }
      },
      "name": "Gemini Vertex Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleVertex",
      "typeVersion": 1,
      "position": [
        680,
        520
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.WEBHOOK_URL || $env.N8N_WEBHOOK_URL || 'http://127.0.0.1:5678/').replace(/\\/$/, '') + '/webhook/nefalix/whatsapp/send' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({  number: String($('Normalize HBYS').item.json.patientPhone || '').replace(/\\D/g, ''), text: $json.output || '', source: 'nps-outbound', priority: 'normal' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "name": "WA Gateway NPS Gönder",
      "position": [
        900,
        320
      ],
      "id": null,
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nefalix/nps/response",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "NPS Yanıtı Al",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        680
      ],
      "webhookId": "nefalix-nps-response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "score",
              "value": "={{ Number($json.body?.score ?? $json.score ?? 0) }}",
              "type": "number"
            },
            {
              "id": "2",
              "name": "patientName",
              "value": "={{ $json.body?.patientName ?? $json.patientName }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "patientPhone",
              "value": "={{ $json.body?.patientPhone ?? $json.patientPhone }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "googleMapsUrl",
              "value": "={{ $json.body?.googleMapsUrl ?? $json.body?.googleReviewUrl ?? $json.googleMapsUrl ?? $json.googleReviewUrl }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "complaintFormUrl",
              "value": "={{ $json.body?.complaintFormUrl ?? $json.complaintFormUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "NPS Skor Parse",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.score }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Promoter? (8-10)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "message",
              "value": "=Teşekkürler {{ $json.patientName }}! Memnuniyetiniz bizi çok mutlu etti. Google'da 5 yıldız verip kısa bir yorum yazar mısınız? {{ $json.googleMapsUrl || $json.googleReviewUrl }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "flow",
              "value": "promoter",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Promoter Google Link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        580
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "message",
              "value": "=Teşekkürler {{ $json.patientName }}, geri bildiriminizi aldık. Yaşadığınız sorunu çözmek için en kısa sürede sizinle iletişime geçeceğiz.",
              "type": "string"
            },
            {
              "id": "2",
              "name": "flow",
              "value": "detractor",
              "type": "string"
            },
            {
              "id": "3",
              "name": "alertMessage",
              "value": "=🚨 DÜŞÜK NPS — ARAYIN\\n\\nHasta: {{ $json.patientName }}\\nTel: {{ $json.patientPhone }}\\nPuan: {{ $json.score }}/10\\n\\nHastayı arayıp gönül alın. Google'da olumsuz yorum yazmadan önce sorunu çözün.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Detractor Şikayet",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        780
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "alertLog",
              "value": "=🚨 KRİZ ALARM (Slack bağlanınca buraya gider): {{ $json.alertMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Kriz Alarm Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1140,
        780
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, flow: ($('Promoter Google Link').isExecuted ? $('Promoter Google Link').item.json.flow : $('Detractor Şikayet').item.json.flow), message: ($('Promoter Google Link').isExecuted ? $('Promoter Google Link').item.json.message : $('Detractor Şikayet').item.json.message) } }}",
        "options": {}
      },
      "name": "NPS Yanıt Dön",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1140,
        580
      ]
    },
    {
      "parameters": {
        "useCustomSchema": false,
        "resource": "row",
        "operation": "create",
        "tableId": "nps_responses",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "clinic_id",
              "fieldValue": "51738ea8-c12e-40ce-a0e2-42869496d76b"
            },
            {
              "fieldId": "score",
              "fieldValue": "={{ $('NPS Skor Parse').item.json.score }}"
            },
            {
              "fieldId": "flow",
              "fieldValue": "={{ $('Promoter Google Link').isExecuted ? $('Promoter Google Link').item.json.flow : $('Detractor Şikayet').item.json.flow }}"
            },
            {
              "fieldId": "message_sent",
              "fieldValue": "={{ $('Promoter Google Link').isExecuted ? $('Promoter Google Link').item.json.message : $('Detractor Şikayet').item.json.message }}"
            },
            {
              "fieldId": "patient_name",
              "fieldValue": "={{ $('NPS Skor Parse').item.json.patientName }}"
            },
            {
              "fieldId": "patient_phone",
              "fieldValue": "={{ $('NPS Skor Parse').item.json.patientPhone }}"
            },
            {
              "fieldId": "resolution_status",
              "fieldValue": "={{ $('Detractor Şikayet').isExecuted ? 'open' : '' }}"
            }
          ]
        }
      },
      "name": "Supabase NPS Kaydet",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1320,
        680
      ],
      "credentials": {
        "supabaseApi": {
          "id": "UYVzTr3Rfadp18iR",
          "name": "Nefalix Supabase Local"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.WEBHOOK_URL || $env.N8N_WEBHOOK_URL || 'http://127.0.0.1:5678/').replace(/\\/$/, '') + '/webhook/nefalix/whatsapp/send' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({  number: String($('NPS Skor Parse').item.json.patientPhone || '').replace(/\\D/g, ''), text: ($('Promoter Google Link').isExecuted ? $('Promoter Google Link').item.json.message : $('Detractor Şikayet').item.json.message) || '', source: 'nps-reply', priority: 'critical' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "name": "WA Gateway NPS Yanıt Gönder",
      "position": [
        1140,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.WEBHOOK_URL || $env.N8N_WEBHOOK_URL || 'http://127.0.0.1:5678/').replace(/\\/$/, '') + '/webhook/nefalix/whatsapp/send' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({  number: String($env.CLINIC_MANAGER_WHATSAPP || '905491190819').replace(/\\D/g, ''), text: $('Detractor Şikayet').item.json.alertMessage + '\\n\\nBu hasta Google\\'da olumsuz yorum yazmadan önce görüşmeniz önerilir. Panel: nefalixai.com/dashboard', source: 'nps-manager-alert', priority: 'critical' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "name": "WA Gateway Yönetici NPS Alarm",
      "position": [
        1320,
        780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "det",
              "leftValue": "={{ $('Detractor Şikayet').isExecuted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Detractor mu?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1260,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "const detractor = $('Detractor Şikayet').first()?.json;\nif (!detractor) {\n  return [{ json: { panelAlert: false } }];\n}\n\nconst parse = $('NPS Skor Parse').first().json;\nconst base = ($env.SUPABASE_URL || 'http://host.docker.internal:54321').replace(/\\/$/, '');\nconst key = $env.SUPABASE_SERVICE_ROLE_KEY;\nif (!key) throw new Error('SUPABASE_SERVICE_ROLE_KEY eksik');\n\nconst clinicId = '51738ea8-c12e-40ce-a0e2-42869496d76b';\nconst phone = String(parse.patientPhone || '').replace(/\\D/g, '');\nconst score = Number(parse.score || 0);\nconst name = String(parse.patientName || 'Hasta').trim();\nconst alertBody = [\n  `🚨 Düşük NPS: ${score}/10`,\n  `Hasta: ${name}`,\n  phone ? `Tel: +${phone}` : '',\n  '',\n  'Hastayı arayıp gönül alın; Google olumsuz yorumdan önce sorunu çözün.',\n].filter(Boolean).join('\\n');\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: `${base}/rest/v1/inbox_messages`,\n  headers: {\n    apikey: key,\n    Authorization: `Bearer ${key}`,\n    'Content-Type': 'application/json',\n    Prefer: 'return=minimal',\n  },\n  body: {\n    clinic_id: clinicId,\n    channel: 'whatsapp',\n    direction: 'inbound',\n    message_kind: 'nps_alert',\n    body: alertBody,\n    sender_phone: phone,\n    sender_name: name,\n    status: 'open',\n    metadata: {\n      npsScore: score,\n      flow: 'detractor',\n      needsManagerCall: true,\n      alertMessage: detractor.alertMessage,\n    },\n  },\n  json: true,\n});\n\nreturn [{ json: { panelAlert: true, score, phone, name } }];"
      },
      "name": "Panel NPS Alarm Kaydet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        780
      ]
    }
  ],
  "connections": {
    "HBYS Randevu Bitti": {
      "main": [
        [
          {
            "node": "Normalize HBYS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize HBYS": {
      "main": [
        [
          {
            "node": "AI NPS Mesajı",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI NPS Mesajı": {
      "main": [
        [
          {
            "node": "WA Gateway NPS Gönder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NPS Yanıtı Al": {
      "main": [
        [
          {
            "node": "NPS Skor Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NPS Skor Parse": {
      "main": [
        [
          {
            "node": "Promoter? (8-10)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promoter? (8-10)": {
      "main": [
        [
          {
            "node": "Promoter Google Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detractor Şikayet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promoter Google Link": {
      "main": [
        [
          {
            "node": "WA Gateway NPS Yanıt Gönder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detractor Şikayet": {
      "main": [
        [
          {
            "node": "WA Gateway NPS Yanıt Gönder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase NPS Kaydet": {
      "main": [
        [
          {
            "node": "NPS Yanıt Dön",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Gateway NPS Yanıt Gönder": {
      "main": [
        [
          {
            "node": "Detractor mu?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA Gateway Yönetici NPS Alarm": {
      "main": [
        [
          {
            "node": "Panel NPS Alarm Kaydet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Vertex Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI NPS Mesajı",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Detractor mu?": {
      "main": [
        [
          {
            "node": "WA Gateway Yönetici NPS Alarm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase NPS Kaydet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Panel NPS Alarm Kaydet": {
      "main": [
        [
          {
            "node": "Supabase NPS Kaydet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}
